body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/boat.jpg');
    background-size:100%;
    background-repeat: repeat;
    /* text-align: center; */
}
.container{
    padding: 30px;
    width: max-content;
    height: max-content;
    /* display: flex; */
    background-color: rgb(255, 255, 255,0.327);
    border-radius: 15px;
    max-width: 70%;
}
.quote{
    display: flex;
    
}
.quote-image{
    width: 70px;
    height: 70px;
    padding-right: 10px;

}
.buttons{
    display: flex;
justify-content: space-between;
}
button{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    padding: 15px;
}